<div class="conteiner">
    <div class="row row-content">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Client Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="client in clients">
                        <td><a href="#!/editclient/{{client.id}}"><i class="fa fa-pencil-square-o" /></a></td>
                        <td>{{client.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
