<?xml version="1.0" encoding="UTF-8"?>
  <!-- se quiser alterar o name abaixo, lembre de alterar no arquivo standalone depois -->
  <module xmlns="urn:jboss:module:1.0" name="org.postgresql">
  <resources>
    <!-- faça as alterações necessárias para o seu driver e versão específico -->
    <resource-root path="postgresql-9.4-1206-jdbc41.jar"/>
  </resources>
  <dependencies>
    <module name="javax.api"/>
    <module name="javax.transaction.api"/>
  </dependencies>
</module>