.principal{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

/* botoes-primefaces */
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
	background-color: #FFFF81
}

.pesquisa tr,
.pesquisa td{
	border: none !important;
	vertical-align: middle;
}

.menu{
    margin-bottom: 1em;
}

.detalhaOs label:nth-child(odd){
	font-weight: bold;
	display: block;
	margin: 0.5em 0;
	width: 25ch;
}

.detalhaOs div{
	display: inline-block;	
}
.detalhaOs div label{
	display: block;	
}

.consulta{
	margin: 0.5em 0;
}

.pesquisa td:nth-of-type(odd) {
	padding-left: 0;
}

.imprimir{
	position: absolute;
	right: 0;
}

@media print{
	.menu{display: none;}
	.imprimir{display: none;}
}

#formulario\:tabelaOs td[colspan="4"],
#formulario\:phoneTable td[colspan="2"]{
	text-align: center;
}

.panelGrid-semBorda tr,
.panelGrid-semBorda td{
	border: none !important;
	vertical-align: middle;
}